version: 2.1

orbs:
  python: circleci/python@2.1.1

jobs:
  test:
    docker:
      - image: cimg/python:3.8

    steps:
      - checkout

      # Upgrade pip and install project dependencies
      - run:
          name: Install project dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

      # Install test-only dependencies
      - run:
          name: Install test dependencies
          command: |
            pip install pytest pytest-django

      # Run Django migrations
      - run:
          name: Run database migrations
          command: |
            python manage.py migrate --settings=product_marketplace.settings

      # Run tests
      - run:
          name: Run tests
          command: |
            python -m pytest --ds=product_marketplace.settings api/tests.py -v

workflows:
  version: 2
  test:
    jobs:
      - test:
          filters:
            branches:
              only: /.*/
